<!DOCTYPE html>
<html>

<head>
    <title>Cashier App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-auto bg-slate-200 w-2/5 h-44 mt-20 rounded-xl shadow-md shadow-slate-900">
        <header>
            <h1 class="bg-blue-400 rounded-t-xl pt-5 pb-5 text-center text-2xl text-gray-700 font-bold font-sans">Welcome to Cahier App</h1>
        </header>
        <article class="pt-6 text-center">
            <div class="inline-flex">
                <button class="bg-gray-100 bg-opacity-70 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded-l w-24">
                    <a href="/page/login">Login</a>
                </button>
                <button class="bg-gray-100 bg-opacity-70 hover:bg-yellow-400 text-gray-800 font-bold py-2 px-4 rounded-r w-24">
                    <a href="/page/register">Register</a>
                </button>
              </div>
        </article>
    </div>
</body>

</html>